

.rainbow-text {
    font-family: Arial Black, Gadget, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 163px;
    text-shadow: #A3A3A3 1px 1px 0px;
}
.rainbow-text .block-line > span {
    display: inline-block;
}
